.listContainer {
    width: 90%;
    margin: 20px auto;
    font-size: 2rem;
    
    
}

.listTitle {
    
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.listTitle h1 {
     font-size: 4rem;
    letter-spacing: 2px;
}

.blogList{
    width: 100%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
    border-radius: 5px;
}


.postItem {
    background: #2F465C;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    min-height: 100px;
    color: whitesmoke;
    overflow: hidden;
}

.postImage {
    overflow: hidden;
    width: 100%;
}

.postImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.postTitle{
    width: 100%;
    /* overflow: hidden; */
    padding: 20px;
}

.postTitle h2 {
    /* font-size: 1.5rem; */
}

.btn {
    text-align: center;
}

.btn button{
     background-color: #2F465C;
    border: 2px solid #2F465C;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px;
    margin-top: 20px;
    width: 200px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);
}

@media only screen and (min-width: 700px){
    .blogList {
        width: 80%;
    }
}

@media only screen and (min-width: 900px){
    .blogList {
        width: 70%;
    }

    /* .postItem{
        height: 150px;
    } */
}

@media only screen and (min-width: 1200px){
    .blogList{
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}

@media only screen and (min-width: 1500px){
    .blogList {
        width: 60%;
    }
     .postItem{
        height: 200px;
    }
}

@media only screen and (min-width: 2000px){
    .blogList {
        width: 50%;
    }

    .postTitle {
        font-size: 2rem;
    }

    .postItem{
        height: 250px;
    }
}