
.blogPost {
    width: 90%;
    margin: 20px auto;
    
}

.blogPost h1 {
    margin-bottom: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 0.5rem;
}

.wp-block-image {
    overflow: hidden;
}

.wp-block-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-out;
    cursor: pointer;

}

.wp-block-image img:hover {
    transform: scale(1.2);
}

.modal{
    background: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal p{
    color: white;
    font-size: 2rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,-5%);
}


