.carousel-container {
    width: 90%;
    margin: 20vh auto 20px;
}

.carousel-container h2 {
    text-align: center;
    font-size: 1.8rem;
}

.carousel {
    display: flex;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-slide {
    display: flex;
    transform: translateX(0);
    transition: transform 0.25s;
    /* overflow: hidden; */
    width: 100%;
    height: 100%;
}

.carousel-slide a {
    margin: 0;
    /* width: 100%;
    height: 100%; */
    
    
}

.carousel-slide img {
    width: 100%;
    min-width: 200px;
    height: 100%;
    object-fit: cover;
}

.carousel .fas {
    background: white;
    border: 0;
    border-radius: 30%;
    color: black;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    height: 3rem;
    opacity: 0.5;
    position: absolute;
    transition: opacity 0.25s;
    width: 3rem;
    z-index: 1;
}

#prevBtn {
    left: 5px;
}

#nextBtn {
    right: 5px;
}

.carousel .fas:hover {
    opacity: 0.9;
}



/* mediaqueries */

@media only screen and (min-width: 1000px){
    .carousel-slide img {
    min-width: 300px;
    }
}

@media only screen and (min-width: 1200px){
    .carousel-slide img {
    min-width: 400px; 
    }
}

@media only screen and (min-width: 2000px){
    .carousel-slide img {
    min-width: 500px; 
    }
}
