.carousel-container {
    position: relative;
    width: 90%;
    height: 30vh;
    margin: auto;
    overflow: hidden;

    
    
}

.carousel-slide {
    
    display: flex;
    width: 100%;
    height: 100%;
    
}

.carousel-slide a{
    min-width: 100%;
}

.carousel-slide img {
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    /* padding-left: 1px; */
}



 
#prevBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 1.5%;
    font-size: 20px;
    color: white;
    opacity: 0.9;
    cursor: pointer;
    transform: translateY(50%);

}

#nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 1.5%;
    font-size: 20px;
    color: white;
    opacity: 0.9;
    cursor: pointer;
    transform: translateY(50%);

}

.carousel-slide p {
    z-index: 5;
    color: white;
    position: absolute;
}
