.container {
    background: #2F465C;

    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    width: 400px;
    max-width: 90%;
    margin: 40px auto;
}

.formTitle  h1{
    color: whitesmoke;
}

.form .text {
    border-bottom: 1px solid #rgb(32, 48, 63);
    background-color: #f0f0f0;
    padding: 20px 40px;
    
}

.form {
    padding: 10px 40px 30px;
    
}


.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    color: whitesmoke;
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input,
.form-control textarea {
    border: 2px solid rgb(32, 48, 63);
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control textarea {
    height: 100px;
}

.form-control:focus {
    outline: 0;
    border-color: rgb(32, 48, 63);
}

.form-control.success input{
    border-color: green;
}

.form-control.error input{
    border-color: red;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.form-control.success i.fa-check-circle {
    color: green;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle{
    color: red;
    visibility: visible;
}

.form-control .small {
    
    color: whitesmoke;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error .small {
    visibility: visible;
}

.form button {
    background-color: rgb(32, 48, 63);
    border: 2px solid rgb(32, 48, 63);
    border-radius: 5px;
    color: whitesmoke;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);

}