.info {
    width: 90%;
    height: 60vh;
    margin: auto;
    
    
}

.info img{
    height: 20vh;
    width: 100%;
    object-fit: cover;
    
}

.infoText {
    width: 60%;
    margin: auto;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px; */
    padding: 20px;
}