.info {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;


}
.info-img{
    width: 100%;
    height: 100%;

}

.info-img img{
    max-height: 50vh;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
    object-position: center 35%;
}

.info-text span {
    font-size: 0.8rem;
    font-weight: normal;
    letter-spacing: 1.5px;
    border-bottom:  1px solid whitesmoke;
}


/* media queries */

/* @media only screen and (min-width: 700px) {

    .infoImage {
    height: 250px;
}

    .infoText h1 {
        font-size: 2rem;
    }

    .infoText p{
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1000px) {
    .infoImage {
    height: 450px;
    }
}

@media only screen and (min-width: 2000px){
    .info{
         margin: 150px auto;
    }

    .info img {
        object-position: center 60%;

    }

     .infoText h1 {
        font-size: 3.5rem;
    }

    .infoText p{
        font-size: 2rem;
    }
} */