.info {
    background-image: url(/images/treihengekøye.jpg);
    background-repeat: no-repeat;
    background-position: center 40%;
    background-size: cover;
    position: relative;
    width: 90%;
    min-height: 40vh;
    margin: 40px auto;
    /* object-position: center 70%; */
    /* width: 60%;
    height: 30vh;
    display: flex;

    border-radius: 10px;
    padding: 40px 40px;
    /* justify-content: center; */
    /* align-items: center; */
    /* overflow: hidden; */


}

.info-text {
    color: whitesmoke;
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
    background: rgba(34, 34, 34, 0.55);
}
/* .infoImage {

    position: relative;
    width: 65%;
    height: 200px;
    padding: 5px;
    overflow: hidden;
} */
/* .info img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    right: 0;
} */

/* .infoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    width: 65%;
    top: 25%;
    left: 40%;
    padding: 20px;
    background: black;
    color: white;
    max-width: 50%;
    height: 100%;


}

.infoText h1 {
    font-size: 1.5rem;
    font-weight: bolder;
    padding-bottom: 1rem;
}

.infoText p{
    font-family: 'Oswald', sans-serif;
    font-size: 0.7rem;
    font-weight: lighter;
} */


/* media queries */

/* @media only screen and (min-width: 700px) {

    .infoImage {
    height: 250px;
}

    .infoText h1 {
        font-size: 2rem;
    }

    .infoText p{
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1000px) {
    .infoImage {
    height: 450px;
    }
}

@media only screen and (min-width: 2000px){
    .info{
         margin: 150px auto;
    }

    .info img {
        object-position: center 60%;

    }

     .infoText h1 {
        font-size: 3.5rem;
    }

    .infoText p{
        font-size: 2rem;
    }
} */