@import url("carousel.css");
@import url("menu.css");
@import url("index.css");
@import url("blogList.css");
@import url("blog.css");


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}