@import url("carousel.css");
@import url("menu.css");
@import url("index.css");
@import url("blogList.css");
@import url("blog.css");
@import url("contact.css");
@import url("about.css");



*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Amatic SC', cursive;
    
    
}

a {
    text-decoration: none;
    color: whitesmoke;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(255, 255, 255); */
    background-color: rgb(32, 48, 63);
    
}

main {
    color: whitesmoke;
    
}

footer {
    margin-top: auto;
    background-color: black;
    color: whitesmoke;
    font-size: 0.7rem;
    
}

footer div {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0;

}

h1,
h2 {
    color: whitesmoke;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    letter-spacing: 2px;
}




@media only screen and (min-width: 1000px){
    footer{
        font-size: 1rem;
    }
}




