@import url("carousel.css");
@import url("menu.css");
@import url("index.css");
@import url("blogList.css");
@import url("blog.css");
@import url("contact.css");


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Amatic SC', cursive;
    
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

main {
    
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    margin-top: auto;
    
    background-color: #7D8A93;
    color: #591616;
    
}

footer div {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0;

}

